.card {
  background-repeat: no-repeat;
  background-image: url("../../assets/Images/card-back.svg");
  background-position-y: 480px;
  background-color: linear-gradient(
    to bottom,
    #fff7e1 400px,
    transparent 400px
  );
  background-size: 300vh;
  min-height: 777px;
  display: flex;
  &-back {
    background: linear-gradient(to bottom, #fff7e1 500px, transparent 500px);
  }
  &__inner {
    height: 700px;
    display: flex;
  }
}