.instagram{
    height: 850px;
    padding-top: 50px;
    transform: translateY(232px);
    margin-bottom: 93px;
    .instagram-inner{
        padding: 70px;
        transform: translateY(-222px);
    }
    .insta-title{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .forDF{
        transform: translateY(-170px);
        padding-left: 200px;
    }
    .instagram-left{
        display: flex;
        transform: translateX(140px);
    }
    .instagram-left > img{
        max-width: 100%;
        height: 100%;
    }

    .instagram-left > .iphone2{
        transform: translate(-815px, 73px);
    }
    .insta-sides{
        display: flex;
        justify-content: space-between;
        transform: translateY(-10px);
    }
    .instagram-right{
        position: relative;
    }
    .insta-back{
        background: linear-gradient(to bottom, #f9b300 549px, transparent 331px);
        background-position-y: 113px;
    }
}
