.header {
  font-family: sans-serif;
  height: 113px;
  a:active{
    cursor: default;
  }
  a{
    list-style: none;
    color: black;
    text-decoration: none;
  }
  &__right > img{
    max-width: 22px;
    max-height: 22px;
  }
  &__inner, &__center, &__right, &__left, &__center > ul{
    display: flex;
    align-items: center;
  }
  &__right > a > img{
    max-width: 22px;
    max-height: 22px;
  }
  &__right{
    max-width: 146px;
    gap: 40px;
  }
  &__center > ul{
    list-style: none;
    gap: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  &__inner{
    justify-content: space-between;
  }
}