.header {
  .millerLogo {
    max-width: 179px;
    max-height: 80px;
    @media (max-width: 500px) {
      max-width: 110px;
      max-height: 50px;
    }
  }
  @media (max-width: 900px) {
    .header__center,
    .header__center > ul {
      display: none;
    }
    .header-burger-menu {
      cursor: pointer;
      display: block;
      width: 29px;
    }
    & {
      height: 95px;
      transform: translateY(-30px);
      align-items: first baseline;
    }
  }
  &-burger-menu {
    cursor: pointer;
    display: none;
  }
  &__item2 {
    transform: translateX(-20px);
  }
  &__item1 {
    display: flex;
    max-width: fit-content;
  }
  .arrowdown {
    transform: rotate(-180deg);
    transition: 500ms;
    cursor: pointer;
    position: relative;
  }
  .si {
    margin-right: 100%;
  }
  .arrowup {
    cursor: pointer;
    width: 10px;
    height: 10px;
    transition: 500ms;
    position: relative;
  }
  .none {
    display: none;
  }
  .block {
    display: flex;
  }
  span:hover {
    border: 1px solid black;
    opacity: 0.7;
  }
  .accordion {
    position: relative;
  }
  &-accordion {
    position: absolute;
    &-title {
      white-space: nowrap;
      padding-left: 10px;
      width: 220px;
      display: flex;
      max-height: 0;
      cursor: pointer;
    }
    width: 230px;
    line-height: 23px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #ffffff;
    background: rgba(219, 218, 218, 0.7);
    background-size: cover;
  }
  &__inner,
  &__list,
  &__right,
  &__left,
  &__center,
  &__center > ul {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  &__right > a > img {
    max-width: 22px;
    max-height: 22px;
  }
  &__right {
    max-width: 146px;
    gap: 40px;
    @media (max-width: 770px) {
      gap: 20px;
    }
  }
  &__center > ul {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    width: 401px;
    justify-content: space-between;
  }
  &__input.block {
    display: none;
    font-weight: 500;
    font-size: 16px;
  }
  &__input.none {
    display: block;
  }
  .header-search-InInput.none {
    display: block;
  }
  .header-search-InInput.block {
    display: none;
  }
  &__input-block.none {
    display: block;
  }
  &__input-block.block {
    display: none;
  }
  &__input-block {
    margin-left: 22px;
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background-image: url("../../assets/Header/search.svg");
      background-size: cover;
      color: #c4c4c4;
      opacity: 0.45;
      margin: 10px 20px 10px 30px;
    }
  }
  &__input {
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 660px;
    @media (max-width: 1077px) {
      width: 560px;
    }
    @media (max-width: 1007px) {
      width: 460px;
    }
    @media (max-width: 883px) {
      width: 360px;
    }
    @media (max-width: 780px) {
      width: 260px;
    }
    @media (max-width: 677px) {
      width: 160px;
    }
    @media (max-width: 575px) {
      display: none;
    }
    height: 42px;
    padding: 11px 0 10px 72px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
    border-radius: 30px;
    &-button.block,
    .header__input.block,
    .header__search.block {
      display: none;
    }
    &-button.none,
    .header__input.none,
    .header__search.none {
      display: block;
    }
  }
  &__inner {
    justify-content: space-between;
  }
  z-index: 1000000;
  min-width: 100%;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  @media (max-width: 500px) {
    max-height: 70px;
    padding-top: 6px;
  }
  .header-right-icon {
    @media (max-width: 550px) {
      max-width: 12px;
      max-height: 12px;
    }
    @media (max-width: 400px) {
      max-width: 9px;
      max-height: 9px;
    }
  }
}
.white {
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 7;
  height: 22px;
  @media (max-width: 500px) {
    display: none;
  }
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
