.header {
  .millerLogo {
    max-width: 179px;
    max-height: 80px;
    @media (max-width: 500px) {
      max-width: 110px;
      max-height: 50px;
    }
  }
  @media (max-width: 900px) {
    .header__center,
    .header__center > ul {
      display: none;
    }
    .header-burger-menu {
      cursor: pointer;
      display: block;
      width: 29px;
    }
    .mobile_btn {
      display: block;
      position: absolute;
      right: 10px;
      top: 27px;
      cursor: pointer;
      z-index: 9999;
    }
    .menu {
      display: flex;
      opacity: 0.8;
      filter: alpha(opacity=40);
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      left: -80%;
      right: 0;
      height: 80vh;
      background-color: #f8f8f8;
      transition: left 1s;
    }
    .active {
      transform: scale(1) translateY(0);
    }
    .active {
      left: 0;
    }
    & {
      height: 95px;
      transform: translateY(-30px);
      align-items: first baseline;
    }
  }
  &-burger-menu {
    cursor: pointer;
    display: none;
  }
  &__item2 {
    transform: translateX(-20px);
  }
  &__item1:hover {
    background-color: white;
  }
  &__item1 {
    display: flex;
    max-width: fit-content;
  }
  .arrowdown {
    transform: rotate(-180deg);
    transition: 500ms;
    cursor: pointer;
    position: relative;
  }
  .si {
    margin-right: 100%;
  }
  .arrowup {
    cursor: pointer;
    width: 10px;
    height: 10px;
    transition: 500ms;
    position: relative;
  }
  .none {
    display: none;
  }
  .block {
    display: flex;
  }
  span:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    opacity: 0.7;
  }
  .accordion:hover {
    background-color: white;
  }
  .accordion {
    position: relative;
  }
  &-accordion {
    position: absolute;
    &-title {
      white-space: nowrap;
      padding-left: 10px;
      width: 220px;
      display: flex;
      max-height: 0;
      cursor: pointer;
    }
    width: 230px;
    line-height: 23px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #ffffff;
    background: rgba(219, 218, 218, 0.7);
    background-size: cover;
  }
  &__inner,
  &__list,
  &__right,
  &__left,
  &__center,
  &__center > ul {
    display: flex;
    align-items: center;
    padding: 10px 5px 0;
  }
  &__right > a > img {
    max-width: 22px;
    max-height: 22px;
  }
  &__right {
    max-width: 146px;
    gap: 40px;
    @media (max-width: 770px) {
      gap: 20px;
    }
  }
  &__center > ul {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    width: 401px;
    justify-content: space-between;
  }
  &__input.block {
    display: none;
    font-weight: 500;
    font-size: 16px;
  }
  &__input.none {
    // transition: all 20s;
    display: block;
  }
  .header-search-InInput.none {
    display: block;
  }
  .header-search-InInput.block {
    display: none;
  }
  &__input-block.none {
    display: block;
  }
  &__input-block.block {
    display: none;
  }
  &__input-block {
    margin-left: 22px;
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background-image: url("../../assets/Header/search.svg");
      background-size: cover;
      color: #c4c4c4;
      opacity: 0.45;
      margin: 10px 20px 10px 30px;
    }
  }
  &__input {
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 660px;
    @media (max-width: 1077px) {
      width: 560px;
    }
    @media (max-width: 1007px) {
      width: 460px;
    }
    @media (max-width: 883px) {
      width: 360px;
    }
    @media (max-width: 780px) {
      width: 260px;
    }
    @media (max-width: 677px) {
      width: 160px;
    }
    @media (max-width: 440px) {
      width: 130px;
    }
    @media (max-width: 575px) {
      display: none;
    }
    height: 42px;
    padding: 11px 0 10px 72px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
    border-radius: 30px;
    &-button.block,
    .header__input.block,
    .header__search.block {
      display: none;
    }
    &-button.none,
    .header__input.none,
    .header__search.none {
      display: block;
    }
  }
  &__inner {
    justify-content: space-between;
  }
  z-index: 1000000;
  min-width: 100%;
  position: sticky;
  top: 0;
  max-height: 113px;
  @media (min-width: 1210px) {
    padding-right: 41px;
  }
  background-color: rgb(255, 255, 255);
  @media (max-width: 500px) {
    max-height: 70px;
    padding-top: 6px;
  }
  }
  .header-right-icon {
    @media (max-width: 550px) {
      max-width: 12px;
      max-height: 12px;
    }
    @media (max-width: 400px) {
      max-width: 25px;
      max-height: 20px;
    }
  }
  .header-right-count_header-basket {
    margin-left: -45px;
    margin-bottom: 25px;
    border: 6px solid #f9b300;
    border-radius: 50%;
    height: 20px;
    background: #f9b300;
    display: flex;
    align-items: center;
  }

.white {
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 7;
  height: 22px;
  @media (max-width: 500px) {
    display: none;
  }
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
// ///////////////////////////// RUSLAN ///////////////////////////// RUSLAN ///////////////////////////// RUSLAN ///////////////////////////// //
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.login {
  position: relative;
  .close-modal {
    position: absolute;
    top: 15px;
    right: 31px;
    cursor: pointer;
    @media (max-width: 375px) {
      top: 30px;
    }
  }
  &_left {
    width: 283px;
    height: 525px;
    background: #f9b300;
    border-radius: 21px 0px 0px 21.271px;
    & h1 {
      font-family: "Gilroy";
      font-style: normal;
      font-size: 24px;
      text-align: center;
      color: white;
    }
    & p {
      text-align: center;
      font-size: 18px;
      font-family: "Gilroy";
      font-style: normal;
      margin-top: 21px;
      color: white;
    }
    &_button {
      width: 243px;
      height: 49px;
      justify-content: center;
      margin: 74px 20px 30px 20px;
      color: white;
      border: 2px solid #ffffff;
      border-radius: 5px;
      background-color: var(--bacground-color);
    }
  }
  &_inner {
    display: flex;
  }
  &_logo {
    position: relative;
    width: 460px;
    height: 306px;
    margin-top: -30px;
    @media (max-width: 375px) {
      display: none;
    }
  }
  &_right_logo {
    width: 109px;
    height: 51px;
    margin: 30px 293px 30px 292px;
    @media (max-width: 375px) {
      display: none;
    }
  }
  & h2 {
    width: 330px;
    height: 35px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    color: #000000;
    margin: 30px 185px 40px 184px;
    @media (max-width: 375px) {
      margin: 109px 185px 40px 30px;
      font-size: 24px;
    }
  }

  &_right_inputone {
    width: 480px;
    height: 49px;
    background: #f6f6f6;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 40px 97px 15px 117px;
    padding: 15px;
    position: absolute;
    top: 200px;
    @media (max-width: 375px) {
      width: 310px;
      margin: 28px 97px 15px 28px;
    }
  }
  &_right_inputtwo {
    position: absolute;
    top: 305px;
    width: 480px;
    height: 49px;
    background: #f6f6f6;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin: 15px 97px 15px 117px;
    padding: 15px;
    @media (max-width: 375px) {
      width: 310px;
      margin: -1px 97px 15px 28px;
    }
  }
  &_right_buttonlog {
    position: absolute;
    top: 430px;
    width: 480px;
    height: 49px;
    background: #f9b300;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin: 15px 97px 162px 117px;
    color: #ffffff;
    @media (max-width: 375px) {
      width: 310px;
      margin: -30px 97px 15px 28px;
    }
  }
  &_right_reset {
    color: red;
  }
}
.overlow {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: rgb(20, 20, 20, 0.5);
  @media (max-width: 375px) {
    margin-top: 290px;
  }
}
.login_left {
  @media (max-width: 375px) {
    display: none;
  }
}

.login_right {
  height: 525px;
  background: #ffffff;
  @media (max-width: 375px) {
    width: 378px;
    height: 544px;
  }
}
.h2registrALo {
  width: 244px;
  height: 50px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  align-items: center;
  text-align: center;
  margin-top: -30px;
}
.link_to_register {
  display: none;
  @media (max-width: 375px) {
    display: inline;
    position: absolute;
    top: 500px;
    left: 50px;
  }
}
.link_to_register > a {
  color: blue;
  &:hover {
    color: yellow;
  }
}
.text_cnt {
  transform: translateY(-62px);
}

.login_right_inputonea {
  width: 480px;
  height: 49px;
  background: #f6f6f6;
  border-radius: 4px;
}
.login_right_logoss {
  width: 109px;
  height: 51px;
  margin: 10px 293px 30px 292px;
}
.p_textreg {
  width: 420px;
  height: 34px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
.loshara {
  width: 420px;
  height: 34px;
  font-family: "Gilroy";
  font-size: 14px;
  text-align: center;
  color: #000000;
  margin: 14px 0px 3px 139px;
  @media (max-width: 375px) {
    width: 357px;
    margin: -25px 0px 3px 11px;
  }
}
.exitIcon {
  font-size: 30px;
  margin-top: 15px;
  @media (max-width: 375px) {
    display: none;
  }
}

.header__right{
  @media (max-width: 375px) {
    transform: translateX(55px);
    margin-right: 60px;
  }
}
