.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &__right > img{
    max-width: 22px;
    max-height: 22px;
  }
  &__left{
    margin-top: 20px;
    margin-bottom: 13px;
  }
  &__inner, &__center, &__right, &__left, &__center > ul{
    display: flex;
    align-items: center;
  }
  &__right > a > img{
    max-width: 22px;
    max-height: 22px;
  }
  &__right{
    max-width: 146px;
    gap: 40px;
  }
  &__center > ul{
    list-style: none;
    gap: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  &__inner{
    gap: 246px;
    justify-content: space-between;
  }
  &__wrapper{
    width: 100%;
  }
  z-index: 100;
  min-width: 100%;
  position: fixed;
  background-color: rgb(255, 255, 255);
}