.contacts {
  height: max-content;
  font-family: "Gilroy";
  .contacts-inner {
    margin-right: 100px;
  }
}

.home-cont {
  position: relative;
  width: 45px;
  height: 15px;
  margin-top: 30px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
  margin-left: 22px;
}
.cont-blog {
  width: 54px;
  height: 15px;
  transform: translate(55px, -15px);
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
  margin-left: 12px;
}
.switch-click {
  display: flex;
  @media (max-width: 375px) {
    display: inline;
  }
}
.switch-contact {
  width: 526px;
  height: 42px;
  margin-bottom: 16px;
  margin-left: 15px;
  color: #f9b300;
  background: #fff7e1;
  border: 1px solid #f9b300;
  border-radius: 4px;
  cursor: pointer;
  @media (max-width: 375px) {
    width: 340px;
    height: 40px;
    background: #fff7e1;
    border: 1px solid #f9b300;
    border-radius: 5px;
    margin-left: 18px;
  }
}
.contact-content {
  display: flex;
  @media (max-width: 375px) {
    display: inline;
  }
}
.contacts-left {
  display: flex;
  @media (max-width: 375px) {
    display: inline;
  }
}
.switcр-stores {
  width: 526px;
  height: 42px;
  left: 685px;
  color: #f9b300;
  background: #f6f6f6;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 16px;
  @media (max-width: 375px) {
    width: 340px;
    height: 40px;
    margin-top: 10px;
    background: #fff7e1;
    border: 1px solid #f9b300;
    border-radius: 5px;
  }
}
.switcр-stores:focus {
  background: #fff7e1;
  border: none;
}
.header-text {
  width: 212px;
  height: 26px;
  margin-top: 64px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 164px;
    font-size: 18px;
  }
}
.number-contact {
  width: 111px;
  height: 18px;
  margin-top: 8px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #222222;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 150px;
    font-size: 14px;
  }
}
.link {
  width: 141px;
  height: 19px;
  margin-top: 7px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #222222;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 150px;
    font-size: 14px;
  }
}
.header-texts {
  width: 227px;
  height: 65px;
  margin-top: 50px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 190px;
    height: 70px;
    font-size: 18px;
  }
}
.maptip-yandex{
  // margin-left: 30px;
  // margin-top: 60px;
  width: 600px;
  // display: flex;
  height: 375px;
  @media (max-width: 375px) {
    // width: 300px;
    // display: block;
  }
  // @media (max-width: 375px) {
  //   width: 400px;
  //   margin-left: 50px;

  // }
  // @media (max-width: 375px) {
  //   width: 500px;
  //   margin-left: 50px;

  // }
}
.info {
  width: 347px;
  height: 55px;
  margin-top: -9px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #222222;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 330px;
    height: 30px;
    font-size: 14px;
  }
}
.texts-cont {
  width: 154px;
  height: 27px;
  margin-top: 43px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 136px;
    height: 30px;
    font-size: 18px;
  }
}
.new-t {
  width: 300px;
  height: 37px;
  margin-top: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #222222;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 290px;
    font-size: 14px;
  }
}
.store-t {
  width: 421px;
  height: 26px;
  margin-top: 64px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 378px;
    font-size: 18px;
  }
}
.adres-c {
  width: 102px;
  height: 37px;
  margin-top: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 102px;
  }
}
.t-t {
  // width: 444px;
  height: 27px;
  margin-top: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 342px;
    font-size: 18px;
  }
}
.adress-store {
  width: 180px;
  height: 184px;
  margin-top: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  margin-left: 18px;
  @media (max-width: 375px) {
    width: 174px;
    font-size: 14px;
  }
}
// .aga {
//   margin-left: -362px;
//   margin-top: 398px;
// }
  


// .contacts-left.forDF{
//   height: 372px;
//   width: 680px;
//   left: 585px;
//   top: 298px;
//   border-radius: 0px;
//   @media (max-width: 375px) {
//     display: inline-block;
//     // display: inline;
//     // position: relative;
//     // height: 317px;
//     // width: 375px;
//     // left: 0px;
//     // top: 652px;
//     // border-radius: 5px;

//   }

// }
.map{
  // position: relative;
  display: flex;
  margin-left: 117px;
  margin-top: 71px;
  @media (max-width:375px) {
     display: contents;    
  }
}
.maps{
  // position: relative;
  display: flex;
  margin-left: 476px;
  margin-top: -342px;
  @media (max-width:375px) {
    display: contents;

  }
}

// }
