.Slider{
    width: 1000px;
    height: 610px;
    margin-top: 115px;
    position: relative;
    transform: translate(-479px, -14px);
    @media (max-width: 375px) {
        margin-top: 5px;
        transform: translate(-574px, -66px);
    }
    &__show{
        width: 950px;
        height: 100%;
        display: flex;
        overflow: hidden;
        text-align: center;
        place-content: center;
        align-items: center;
        @media (max-width: 375px) {
            width: 332px;
            overflow-x: scroll;
        }
    }
    &__inner{
        max-width: 1680px;
        display: flex;
        gap: 30px;
    }
    .item-card{
        margin-top: 60px;
        min-width: 320px;
        height: 370px;
        background-color: aqua;
    }
    &__button_prev{
        width: 50px;
        height: 50px;
        position: absolute;
        background: #F9B300;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        left: -90px;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        color: white;
        font-size: 24px;
        &:hover{
            opacity: 0.7;
        }
        @media (max-width: 375px) {
            display: none;
        }
    }
    .slider-card{
        transform: translateY(55px);
        z-index: 5;
    }
    &__button_next{
        width: 50px;
        height: 50px;
        position: absolute;
        background: #F9B300;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        right: -16px;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        color: white;
        font-size: 24px;
        &:hover{
            opacity: 0.7;
        }
        @media (max-width: 375px) {
            display: none;
        }
    }
}