.fresh-coffe-right{
 position: relative;
 z-index: 1;
}

.slider {
  position: absolute;
  max-width: 210px; 
  margin: 0 auto;
  right: 1175px;
}
.slideshow {
  position: absolute;
  margin: 0 auto;
  width: 600px;
  left: 1300px;
  overflow: hidden;
}
.slideshowSlider {
  margin: 0 auto;
  white-space: nowrap;
  transition: ease 2000ms;
}

.slide {
  display: inline-block;
  background-image: url(../../../assets/Images/SliderCupCoffe.png);
  height: 600px;
  background-repeat: no-repeat;
  width: 1100px;
  text-align: right;
}
