.fresh-right {
  margin-left: 128px;
  z-index: 100;
}

.slider {
  max-width: 210px;
  margin: 0 auto;
}
.slideshow {
  position: absolute;
  margin: 0 auto;
  width: 600px;
  left: 1300px;
  overflow: hidden;
}
.slideshowSlider {
  margin: 0 auto;
  white-space: nowrap;
  transition: ease 2000ms;
}

.slide {
  display: inline-block;
  background-image: url(../../../assets/Images/SliderCupCoffe.png);
  height: 600px;
  background-repeat: no-repeat;
  width: 1100px;
  text-align: right;
}
