.CartEmpty {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(360deg, #211f2080 0%, #44403f80 100%);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}
.CartEmpty-inner {
  position: relative;
  max-width: 450px;
  width: 100%;
  padding: 30px 30px;
  flex-direction: column;
  align-items: center;
  display: flex;
  background: gray;
  border-radius: 10px;
}
.CartEmpty-title {
  padding-bottom: 25px;
}
.CartEmpty-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
