.profile {
  max-width: 100%;
  background: #e5e5e5;
  font-family: "Gilroy";
}

.home {
  display: flex;
  padding: 20px 0px;
  font-size: 12px;
  list-style: none;
}

.home li {
  padding: 5px;
}

//////BLOCK---1

.profile__cart {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  width: 1180px;
  height: 168px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(163, 163, 163, 0.25);
}

.profile__name li {
  list-style: none;
}

.profile__name ul {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  margin-top: 7px;
}

.profile__name {
  display: flex;
  align-items: center;

  .joodar {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-left: 100px;
    margin-top: 30px;
  }
  .name__joodar {
    font-weight: 900;
    font-size: 28px;
    width: 560px;
    height: 43px;
    line-height: 44px;
  }

  .btn__joodar {
    background: #fff7e1;
    border: 1px solid #f9b300;
    border-radius: 5px;
    color: #f9b300;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    width: 84px;
    height: 24px;
    margin-left: 100px;
    margin-top: 13px;
    margin-bottom: 21px;
  }

  .btn__joodar:focus {
    background: #f6f6f6;
    border: none;
  }

  .profile__joodar {
    max-width: 200px;
  }
}

.discount {
  text-align: left;
  background: #f9b300;
  border-radius: 14px;
  align-items: center;
  width: 400px;
  height: 168px;

  .discount__inner {
    margin-top: 35px;
    margin-bottom: 30px;
    padding-right: 12px;
    margin-left: 5px;
    display: flex;
  }


  .discount__btn {
    width: 23px;
    height: 23px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    font-size: 17.7127px;
    line-height: 21px;
    transform: translate(365px, -29px);
  }
}

.discount li {
  color: #ffffff;
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}
.discount_1 {
  font-weight: 900;
  color: #ffffff;
  font-size: 22px;
  line-height: 27px;
}

.discount_2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
}

.discount p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 7px;
}

///////BLOCK----2

.orders__cart {
  width: 1180px;
  height: 402px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 35.4254px rgba(163, 163, 163, 0.25);
  border-radius: 14px;

  .info {
    width: 980px;
    height: 125px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
    border-radius: 14px;
    margin-left: 100px;
    margin-top: 13px;
    display: flex;
  }
  .info__text {
    margin-right: 50px;
  }

  .info__discount {
    margin-right: 20px;
  }

  .price__one {
    margin-right: 64px;
  }

  .price__two {
    margin-right: 0px;
  }
}

.orders__title {
  margin-left: 100px;
  margin-top: 30px;
  .orders__p {
    display: flex;
    justify-content: space-between;
  }
}

.price__info {
  margin-top: 20px;
  margin-left: 882px;
}
.price__info li {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #747474;
  padding-top: 5px;
}

.orders__title h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
}

.orders__title button {
  background: #fff7e1;
  border: 1px solid #f9b300;
  border-radius: 4px;
  width: 180px;
  margin-right: 20px;
  height: 31px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f9b300;
  margin-top: 20px;
}

.orders__title button:focus {
  background: #f6f6f6;
  border: none;
}

.orders__title p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  margin-top: 30px;
  margin-right: 105px;
}

.info h1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  margin-left: 43px;
  margin-top: 22px;
}

.info li {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #747474;
  margin-top: 7px;
  margin-left: 43px;
}

.coffee__img {
  display: flex;
  justify-content: space-between;
}

.coffee__img img {
  padding-top: 40px;
  padding-right: 20px;
}

.coffee__title h1 {
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  color: #222222;
  padding-top: 40px;
}

.coffee h1 {
  transform: translate(26px, -201px);
  text-transform: uppercase;
  margin: 0px 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 30px;
}

.coffee p {
  transform: translate(26px, -134px);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.discount-block.none{
display: none;
}

.discount-block {
  margin-bottom: 50px;
}
