.profile {

  max-width: 100%;
  background: #e5e5e5;
 
  
  @media(max-width: 376px) {
    background: white;
    max-width: 375px;
    overflow: hidden;
    max-width: 100%;
}
}

.home {
  display: flex;
  padding: 20px 0px;
  font-size: 12px;
  list-style: none;
}

.home li {
  padding: 5px;
}

//////BLOCK---1

.profile__card {
  display: flex;
  width: 1180px;
  height: 168px;

  @media(max-width: 376px) {
    display: inline-block;
    max-width: 376px;

}
}



.profile__name {
  display: flex;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  width: 863px;
  height: 168px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(163, 163, 163, 0.25);
  
  @media(max-width: 376px) {
    width: 375px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 242px;
    border-radius: 10px 10px 0px 0px;
}
}



.profile__name li {
  list-style: none;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  
@media(max-width: 376px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
  
}
}

.profile__name ul {
  margin-top: 7px;
}

.profile__name {
  display: flex;
  align-items: center;

  .joodar {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-left: 100px;
    margin-top: 30px;
  }

  @media(max-width: 376px) {
    .joodar {
      width: 70px;
      height: 70px;
      margin-top: 85px;
      margin-right: 1px;
      margin-left: 1px;
      margin-top: 85px;
      
    }
  }
  .name__joodar {
    font-weight: 900;
    font-size: 28px;
    width: 560px;
    height: 43px;
    line-height: 44px;
  }

  @media(max-width: 376px) {
    .name__joodar {
       font-weight: 900;
       font-size: 20px;
       line-height: 25px;
       transform: translate(-90px, 20px);
        
    }
   
  }

  .btn__joodar {
    background: #fff7e1;
    border: 1px solid #f9b300;
    border-radius: 5px;
    color: #f9b300;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    width: 84px;
    height: 24px;
    margin-left: 100px;
    margin-top: 13px;
    margin-bottom: 21px;
  }

  @media(max-width: 376px) {
    .btn__joodar {
      margin-left: 1px;
      margin-right: 1px;
      width: 70px;
      height: 30px;
    }
  }

  .btn__joodar:focus {
    background: #f6f6f6;
    border: none;
  }

  .profile__joodar {
    max-width: 200px;
  }

  @media(max-width: 376px) {
    .profile__joodar {
      margin-left: 18px;
      margin-right: 20px;
      margin-bottom: 33px;
    }
  }

}

@media(max-width: 376px) {
  .profile__name {
    align-items: center;
  
  }
}

.discount__profile {
  text-align: left;
  background: #f9b300;
  border-radius: 14px;
  position: relative;
  right: 10px;
  align-items: center;
  width: 441px;
  height: 168px;


  .discount__inner {
    margin-top: 13px;
    margin-left: 30px;
    margin-bottom: 0px;
  }

 

   @media(max-width: 376px) {
    .discount__inner {
      margin-left: 21px;
      padding-top: 1px;
    }
   }
 

  .discount__btn {
    width: 23px;
    height: 23px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    font-size: 17.7127px;
    line-height: 21px;
    transform: translate(338px, -4px);
  }

  @media(max-width: 376px) {
    .discount__btn {
      width: 33px;
      position: absolute;
      height: 33px;
      top: 13px;
      left: -23px;
    }
  }
}

  @media(max-width: 376px) {
    .discount__profile {
      width: 374px;
      height: 156px;
      border-radius: 0px 0px 10px 10px;
      top: -35px;
      right: -1px;
 
    }
  }
  


.discount__profile li {
  color: #ffffff;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  @media(max-width: 376px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

}

}

.discount__text {
  font-weight: 900;
  color: #ffffff;
  font-size: 22px;
  line-height: 27px;

  @media(max-width: 376px) {
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 30px;

  
}
}



.discount__title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 14px;
  
@media(max-width: 376px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
    margin-top: 20px;
  
}
}



.discount__profile p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 7px;
  
  @media(max-width: 376px) {
    margin-bottom: 10px;

}

}


///////BLOCK----2

.orders__card {
  width: 1180px;
  height: 402px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 35.4254px rgba(163, 163, 163, 0.25);
  border-radius: 14px;
  display: block;
  height: auto;

  .info__cards {
    width: 980px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
    border-radius: 14px;
    margin-left: 100px;
    margin-top: 13px;
    display: block;
    height: auto;

    @media(max-width: 376px) {
    transform: translate(-78px, 37px);
    width: 340px;
    height: auto;

    }
    .cards__inner {
    margin-top: 22px;
    display: flex;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px; 
    color: #747474;
}




.cards__text {
  margin-left: 59px;
  text-align: center;
  font-weight: 500;
  font-size: 1px;
  line-height: 16px;
  color: #747474;
  @media(max-width: 376px) {
    font-weight: 700;
    font-size: 10px;
    transform: translate(-31px, 9px);
    line-height: 12px;
  }

}

.product__img {
  display: none;
  width: 73px;
  margin-left: 10px;
  height: 75px;
  @media(max-width: 376px) {
    display: block;

  }
}

.product__info {
  display: none;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  @media(max-width: 376px) {
    display: block;
    transform: translate(28px, 21px);
  }
}


.cards__price {
  transform: translate(60px, 7px);
  font-size: 1px;
  text-align: center;

}

.cards__discount {
  transform: translate(329px, -10px);
  font-size: 1px;

  @media(max-width: 376px) {
    transform: translate(39px, 16px);
  }
}

.cards__price2 {
  transform: translate(579px, -28px)

}



.cards__title {
  margin-left: 20px;
  margin-right: 10px;
}

  }

.info__texts li {
  font-weight: 500;
  margin-right: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #747474;
  text-align: center;
  display: flex;
  margin-top: 12px;



}
.info__texts ul {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

  @media(max-width: 376px) {
    display: none;
  }

  .info__text {
    padding-bottom: 30px;

  }
}


  



}

@media(max-width: 376px) {
  .orders__card {
    box-shadow: none;
    border: none;
    border-radius: 0px;
    
  }
}

.profile__Img {
  width: 41px;
  height: 75px;
}

.orders__title {
  margin-left: 100px;
  margin-top: 30px;
  
}

.orders__p p {
    display: flex;
    margin-top: 30px;
    margin-left: 101px;
    font-weight: 500;
    font-size: 14px;
    column-gap: 583px;
    line-height: 16px;

    @media(max-width: 376px) {
      display: block;
      transform: translate(-80px, 3px);
    }
  }

.price__info {
  margin-top: 40px;
  margin-left: 882px;
  margin-bottom: 20px;

  @media(max-width: 376px) {
     transform: translate(-862px, 10px);
  }
  
  .price__itog {
    font-family: 'Gilroy';
    
    @media(max-width: 376px) {
      font-weight: 700;
      color: #222222;
      font-size: 16px;
      line-height: 17px;
      margin-bottom: 10px;
    
    }
  }

.price__number1 {
    display: none;

    @media(max-width: 376px) {
      display: block;
      transform: translate(261px, 0px)

    }
  }
  .price__number2 {
    display: none;

    @media(max-width: 376px) {
      display: block;
      transform: translate(226px, 0px);

    }
  }
  

  .itog__number {
    font-family: 'Gilroy';
    
    @media(max-width: 376px) {
      position: fixed;
      font-weight: 700;
      color: #222222;
      font-size: 16px;
      line-height: 17px;
      transform: translate(303px, 0px);
      margin-bottom: 10px;
    }
  }

  .dostavka {
    font-family: 'Gilroy';

    @media(max-width: 376px) {

    }
  }

  .dostavka__number {
    font-size: 12px; 

    @media(max-width: 376px) {
      transform: translate(249px, 0px);
    }
  }

  .price__podytog {
    display: none;

    @media(max-width: 376px) {
      display: block;
  
    }
  }
  
  .price__skidka {
    display: none;

    @media(max-width: 376px) {
      display: block;
      
    }
  }

 ul {
  display: flex;
 

}
 li {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #747474;
  margin: 2px 2px;
  padding-top: 5px;
}

p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #747474;
  padding-top: 5px;
}


}





.orders__title h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
}

@media(max-width: 376px) {
  .orders__cart h1 {
    margin-left: -80px;
  }

}
 

.orders__title button {
  background: #fff7e1;
  border: 1px solid #f9b300;
  border-radius: 4px;
  width: 180px;
  margin-right: 20px;
  height: 31px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f9b300;
  margin-top: 20px;

  @media(max-width: 376px) {
      width: 340px;
      height: 40px;
      display: block;
      transform: translate(-78px, 10px);
  }
}



.orders__title button:focus {
  background: #f6f6f6;
  border: none;
}

.orders__title p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  margin-top: 30px;
  margin-right: 105px;

}



.slider__profile {
  font-family: 'Gilroy';
  
  @media(max-width: 376px) {
  width: 100%;
  max-width: 376px;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
  position: relative;
  }
}

.slides__inner {
  display: flex;
  justify-content: space-between;

  @media(max-width: 376px) {
      overflow-x:scroll ;
    
  }
}

.slides__inner img {
  padding-top: 40px;
  padding-right: 20px;
  
  @media(max-width: 376px) {
    width: 250px;
    height: 273px;
  }
}

.coffee__title h1 {
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  color: #222222;
  padding-top: 40px;

}

.coffee__profile h1 {
  transform: translate(10px, -159px);
  margin: 0px 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;


  @media(max-width: 376px) {
    font-weight: 700;
    width: 213px;
    height: 35px;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    top: 36px;
    left: 4px;
  }
}

.slider__text {
  font-weight: 900;
  margin-top: 30px;
  font-size: 22px;
  line-height: 27px;
  
}

.slider__profile p {
  transform: translate(23px, -94px);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  @media(max-width: 376px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: -10px;
    left: 1px;

  }
}

.slider__title {
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  margin-top: 40px;
  @media(max-width: 376px) {
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
  }
}

.discount-block.none{
display: none;
}

.discount-block {
  margin-bottom: 50px;
}

.info-block.none {
  display: none;
}