.fresh-coffee-catalog-back {
  background-image: url("../../assets/Images/Vector.png");
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: right -40px;
}
.fresh-coffe {
  height: 600px;
  padding: 70px 20px 0 70px;
}
.fresh-coffe-inner {
  display: flex;
  padding-top: 30px;
}
.fresh-coffe-container {
  margin-top: 40px;
}

.fresh-coffe-left > h1 {
  width: 960px;
  height: 100px;
  font-size: 56px;
  line-height: 100px;
}
// Кыйратебер еми
.fresh-coffe-left > p {
  width: 400px;
  line-height: 24px;
  padding-top: 40px;
}
.fresh-coffe-left > p > b {
  font-weight: 700;
  font-size: 18px;
}
.fresh-coffe-left > a > button {
  margin-top: 50px;
  width: 200px;
  height: 45px;
  background-color: #f9b300;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gradient-right {
  margin: 0 auto;
}

.yellow-gradient-right {
  max-width: 530px;
  position: absolute;
  transform: translateY(-420px);
  margin-left: 1011px;
}
.yellow-gradient-left {
  max-width: 400px;
  max-height: 100%;
  margin-left: -364px;
}
.gradient-coffe-img {
  // max-width: 300px;
  margin-left: -304px;
  transform: translateY(-70px);
}

.catalog-sale-items-back {
  background-image: url("../../assets/Images/vectorLeft.png");
  background-repeat: no-repeat;
  background-position: left 40px;
  background-size: 45vh;
  @media (max-width: 375px) {
    background-size: 115vh;
  }
}

.catalog-products {
  height: 700px;
  // max-width: 1250px;
  // margin: auto;
  .catalog-inner > h2 {
    font-size: 35px;
  }
  .catalog-content {
    // overflow-x: auto;
    display: flex;
  }
  .catalog-items {
    display: flex;
    @media (max-width: 360px) {
      display: none;
    }
    justify-content: center;
    padding-top: 60px;
    margin: auto;
    gap: 20px;
  }
  .swiper {
    display: none;
    width: 250px;
    @media (max-width: 380px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      width: 300px;
    }
  }
  .swiper-slide {
    position: relative;
    width: 250px;
    text-align: center;
    height: 410px;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    .catalog-card_img {
      // display: flex;
      justify-content: center;
      align-items: center;
    }
    .ct-tea-img {
      max-width: 250px;
      max-height: 250px;
    }
    .catalog-card_title {
      text-align: center;
      padding-top: 28px;
    }
    .catalog-card_button {
      // position: absolute;
      width: 230px;
      height: 42px;
      background-color: #f9b300;
      font-size: 15px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    .catalog-card_button > a {
      color: white;
    }
  }
  .catalog-card {
    position: relative;
    width: 280px;
    text-align: center;
    height: 410px;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    align-content: space-between;
    @media (max-width: 420px) {
      display: none;
    }
  }
  .catalog-card_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ct-tea-img {
    max-width: 250px;
    max-height: 250px;
  }
  .catalog-card_title {
    text-align: center;
    padding-top: 28px;
  }
  .catalog-card_button {
    // position: absolute;
    width: 230px;
    height: 42px;
    background-color: #f9b300;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .catalog-card_button > a {
    color: white;
  }
}

.sale-items {
  height: 800px;
  .sale-items-inner {
    padding-top: 40px;
    margin-left: 600px;
  }
  .sale-items-inner > h1 {
    text-align: right;

    font-weight: 900;
    font-size: 35px;
  }
  .sale-items-inner > p {
    height: 64px;
    left: 604px;
    top: 800px;

    font-weight: 500;
    font-size: 20px;
    line-height: 130%;

    transform: translateY(80px);
    text-align: right;
    color: #000000;
  }
}

.Advantage-back-top {
  width: 100%;
  height: 203px;
  transform: translateY(10px);
  @media (max-width: 375px) {
    height: 70px;
  }
}

.advantages {
  height: 700px;
  background-color: #fff7e1;
  margin: 0 auto;
  .advantages-inner {
    padding-top: -18px;
    display: flex;
    gap: 140px;
  }
  .advantages-left {
    display: flex;
    position: relative;
    transform: translateX(-140px);
    @media (max-width: 375px) {
      display: none;
    }
  }
  .advantages-left > .img2 {
    position: absolute;
    left: 125px;

    max-width: 700px;
    max-height: 500px;
  }
  .advantages-left > .img1 {
    position: absolute;
    z-index: 100;
    left: 188px;
    top: 105px;

    max-width: 500px;
    max-height: 400px;
  }
  .advantages-right {
    transform: translateX(651px);
    @media (max-width: 375px) {
      transform: translateX(114px);
    }
  }
  .advantages-right > h2 {
    font-weight: bold;
    font-size: 35px;
    width: 404px;
    transform: translate(-108px, -65px);
    @media (max-width: 375px) {
      font-weight: bold;
      font-size: 28px;
      width: 318px;
      transform: translate(-97px, -1px);
    }
  }
  .advent-imgs {
    transform: translateX(-110px);
    @media (max-width: 375px) {
      max-width: 50px;
      max-height: 50px;
      transform: translate(-102px, 115px);
    }
  }
  .advantages-block > .ad-block-content {
    transform: translateY(-90px);
    @media (max-width: 375px) {
      transform: translate(-40px, 40px);
    }
  }
  .ad-block-content > h3 {
    font-weight: bolder;
    font-size: 21px;
    line-height: 55px;
  }
  .ad-block-content > p {
    width: 334px;
    @media (max-width: 375px) {
      width: 272px;
    }
  }
}

.advantages-back-bottom {
  position: relative;
  width: 100%;
  height: 200px;
  z-index: 1;
  transform: translateY(65px);
  @media (max-width: 375px) {
    position: relative;
    width: 100%;
    height: 82px;
    z-index: 1;
    transform: translateY(167px);
  }
}

.roast-coffe {
  height: 800px;
  background: url("../../assets/Images/roastCoffe.png") no-repeat;
  background-size: cover;
  transform: translateY(12px);
  .roast-coffe-inner {
    padding: 70px;
    color: white;
    @media (max-width: 375px) {
      padding: 50px 0 0;
    }
  }
  .roast-coffe-inner > h2 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 150px;
    @media (max-width: 375px) {
      padding-top: 50px;
      padding-left: 38px;
      font-size: 20px;
      line-height: normal;
      width: 390px;
    }
  }
  .roast-coffe-inner > p {
    width: 776px;
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 20px;
    font-family: "Gilroy";
    @media (max-width: 375px) {
      width: 341px;
      padding-top: 58px;
      padding-left: 36px;
    }
  }
  .roast-coffe-inner > button > a {
    color: white;
  }
  .roast-coffe-inner > button {
    margin-top: 80px;
    width: 230px;
    height: 45px;
    background-color: #f9b300;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    @media (max-width: 375px) {
      position: absolute;
      width: 340px;
      height: 50px;
      left: 18px;
      top: 680px;
    }
  }
  .roast-text-gb {
    @media (max-width: 375px) {
      padding-left: 30px;
      font-size: 14px;
    }
  }
}

.roast-coffe-back-bottom {
  height: 100%;
  z-index: 300;
  background-image: url("../../assets/Images/roastCoffeBottom.png");
  background-repeat: no-repeat;
  background-size: 300vh;
  background-position: center bottom;
  z-index: 1;
}

@media (max-width: 375px) {
  //fresh-coffee
  .fresh-coffe-left > h1 {
    width: auto;
    line-break: strict;
    height: 54px;
    font-size: 25px;
  }
  .fresh-coffe-inner {
    padding-top: 57px;
    transform: translate(-64px, -130px);
  }
  .fresh-coffe-left > p {
    width: 220px;
    height: 108px;
    line-height: 24px;
    padding-top: 40px;
  }
  .fresh-coffe-left > button {
    cursor: pointer;
    width: 340px;
    height: 50px;
    margin-top: 150px;
  }
  //catalog
  .catalog-products .catalog-inner > h2 {
    font-size: 20px;
    position: absolute;
    top: 625px;
    padding-left: 10px;
  }
  .catalog-products .catalog-items {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    gap: 30px;
    overflow-x: scroll;
  }
  .catalog-products .catalog-card {
    position: relative;
    width: 280px;
    text-align: center;
    height: 410px;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    border-radius: 35px;
  }
  .catalog-products .catalog-content {
    display: flex;
    align-items: center;
    place-content: center;
    text-align: center;
    overflow: hidden;
  }
  //sale-items
  .sale-items {
    .sale-items-inner {
      padding-top: 40px;
      margin-left: 600px;
    }
    .sale-items-inner > h1 {
      position: absolute;
      width: 194px;
      height: 25px;
      left: 177px;
      top: 1243px;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 25px;
      text-align: right;
    }
    .sale-items-inner > p {
      position: absolute;
      width: 290px;
      height: 90px;
      left: 80px;
      top: 1228px;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      text-align: right;
      color: #000000;
    }
    //
  }
}
