.white-circle:active {
  cursor: default;
}
.white-circle {
  cursor: pointer;
  width: 17px;
  height: 17px;
  background-color: #e4e4e4;
  border-radius: 50%;
}
.filters {
  background-repeat: no-repeat;
  background-image: url("../../../../assets/Catalog/filters-back.svg");
  background-position-y: 326px;
  background-color: linear-gradient(
    to bottom,
    #f9b300 331px,
    transparent 331px
  );
  background-size: 300vh;
  min-height: 777px;
  display: flex;
  &__inner {
    display: flex;
  }

  .filters__title {
    @media (max-width: 443px) {
      font-size: 30px;
    }
    @media (max-width: 360px) {
      font-size: 30px;
    }
  }
  &-back {
    background: linear-gradient(to bottom, #f9b300 331px, transparent 331px);
  }
  &-back-healthy {
    background: linear-gradient(to bottom, #f9b300 229px, transparent 229px);
  }


  &-bottom {
    &-blocks {
      @media (max-width: 1032px) {
        text-align: center;
        justify-content: center;
      }
      z-index: 4;
      position: relative;
      flex-wrap: wrap;
      @media (min-width: 1210px) {
        display: flex;
      }

      &-item:hover {
        // opacity: 0.7;
        box-shadow: 0px 0px 21.2553px rgba(23, 23, 23, 0.25);
      }
      &-item:active {
        box-shadow: 0px 0px 21.2553px rgba(147, 147, 147, 0.25);
        cursor: default;
      }

      &-item {
        cursor: pointer;
        background: #ffffff;
        box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
        border-radius: 14px;
        align-items: center;
        width: 134px;
        height: 134px;
        display: flex;

        &-inner > p {
          padding: 20px 0 15px;
        }

        &-inner {
          min-height: 100%;
          min-width: 100%;
          text-align: center;
          justify-content: center;
          flex-wrap: wrap;
          align-content: space-between;
          // &-top{
          //   justify-content: right;
          // }
        }
        &:hover {
          background: #f9b300;
        }
      }
      display: flex;
      margin-top: 15px;
      gap: 15px;
    }
  }
  &-coffee {
    background-image: url("../../../../assets/Footer/footer-coffee.png");
    height: 478px;
    position: absolute;
    width: 300px;
    right: 0;
    background-position-x: 50px;
    background-position-y: 15px;
    background-repeat: no-repeat;
  }
  &-cup {
    background-position-y: -30px;
    position: absolute;
    width: 500px;
    @media (max-width: 500px) {
      width: 300px;
    }
    right: 0;
    z-index: 1;
    background-image: url("../../../../assets/Footer/footer-cup.png");
    background-repeat: no-repeat;
    height: 322px;
    margin-left: auto;
  }
  &__left {
    z-index: 3;
  }
  &__left > h1 {
    @media (max-width: 967px) {
      color: #000000;
    }
    margin-top: 100px;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;
    color: #ffffff;
  }
  &-nav-first {
    font-size: 12px;
    color: white;
  }
  &-nav-item:hover {
    color: #f2f2f2;
  }
  &-nav-item {
    color: white;
    font-size: 12px;
    @media (max-width: 967px) {
      color: #000000;
    }
  }
  &-nav {
    margin-top: 30px;
    display: flex;
    color: white;
  }
  &-functions {
    display: flex;
    margin-top: 95px;
    z-index: 4000;
    flex-wrap: wrap;
    @media (min-width: 1211px) {
    }
  }
  &-function-left-sec > h3 {
    margin: 30px 35px 30px 30px;
    font-weight: 700;
    font-size: 22px;
    width: 185px;
  }
  &-function-left {
    display: flex;
    width: 280px;
    z-index: 4;
    border-radius: 14.1702px;
    height: 373px;
    background-color: white;
    margin-right: 20px;
    box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
    &-line {
      height: 308px;
      width: 10px;
      background-color: #f9b300;
      border-radius: 7px;
      margin: 32px 0 0 20px;
    }
  }
  &-functions-right {
    z-index: 100;
    background-color: white;
    box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
    min-height: 373px;
    border-radius: 14.1702px;
    max-width: 880px;
    background-size: cover;
    //   @media (max-width: 473px){

    //   }
    &-line {
      height: 10px;
      width: 770px;
      @media (max-width: 1210px) {
        width: 670px;
      }
      @media (max-width: 1110px) {
        width: 570px;
      }
      @media (max-width: 1010px) {
        width: 470px;
      }
      @media (max-width: 911px) {
        width: 670px;
      }
      @media (max-width: 811px) {
        width: 570px;
      }
      @media (max-width: 711px) {
        width: 470px;
      }
      @media (max-width: 575px) {
        width: 370px;
      }
      @media (max-width: 475px) {
        margin-left: 10px;
        width: 270px;
      }
      background-color: #f9b300;
      border-radius: 7px;
      margin-top: 25px;
      margin-left: 60px;
      margin-right: 50px;
    }
    &-bottom {
      display: flex;
      flex-wrap: wrap;
      margin-left: 66px;
      @media (max-width: 625px) {
        justify-content: start;
      }
      @media (max-width: 470px) {
        margin-left: 10px;
      }
      margin-top: 21px;
      max-width: 712px;
      justify-content: space-between;
    }
    &-column {
      &-options {
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        &-item {
          display: flex;
          gap: 15px;
          padding-bottom: 15px;
        }
      }
    }
    .processing-method > h3 {
      line-break: anywhere;
      width: 93px;
    }
  }
  .yellow-circle {
    cursor: pointer;
    width: 17px;
    height: 17px;
    background-color: #f9b300;
    border-radius: 50%;
  }
  .fiveCoffees {
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
    gap: 20px;
  }
  .fiveCoffees > div > img {
    max-width: 17px;
  }
}
.useFilter-btns {
  display: flex;
  text-align: right;
  padding-right: 46px;
  justify-content: right;
  & .one {
    border-radius: 6px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-left: 13px;
    color: #524f4e;
    cursor: pointer;
    padding: 3px;
    transform: translateY(-13px);
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    &:hover {
      background: #f9b300;
      box-shadow: 0 5px 13px rgba(46, 229, 157, 0.4);
      // color: white;
    }
  }
  & .two {
    & > img {
      transform: translateY(3px);
    }
    border-radius: 6px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    color: #524f4e;
    cursor: pointer;
    padding: 3px;
    transform: translateY(-13px);
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    padding-left: 7px;
    &:hover {
      background: #f9b300;
      box-shadow: 0 5px 13px rgba(46, 229, 157, 0.4);
      // color: white;
    }
  }
}
.divdn {
  display: none;
}
.divdn.b {
  margin-left: 14px;
  display: block;
  height: 4px;
  width: 80%;
}
