.tea__cards-inner-row-card-top-right {
  justify-content: space-between;
}
.card-title-jiest {
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  color: #222222;
}
.tea-cards-back {
  background-color: #f5f5f5;
}
.kkdwe {
  gap: 5px;
  align-items: flex-end;
}
