.healthy {
  background-repeat: no-repeat;
  background-image: url("../../../../assets/Catalog/filters-back.svg");
  background-position-y: 225px;
  background-color: linear-gradient(
    to bottom,
    #fff7e1 400px,
    transparent 400px
  );
  background-size: 300vh;
  min-height: 777px;
  display: flex;
  .healthy-title {
    margin-top: 60px;
  }
}
.tea-filters-blocks-item-hfi:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px rgba(36, 35, 35, 0.25);
}
.tea-filters-blocks-item-hfi {
  background-color: white;
  box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
  border-radius: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 380px;
  height: 225px;
  display: flex;
  z-index: 5;
}
.tea-filters-kettle.kasha {
  background-size: cover;
  width: 365px;
  height: 257px;
  transform: translate(0);
  transform: translateY(55px);
  background-position-y: (10px);
  background-image: url("../../../../assets/Catalog/Healthy/image\ 3.png");
}
