.login_right {
  width: 694px;
  height: 525px;
  background: #ffffff;
}
.h2registrALo {
  width: 244px;
  height: 50px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  align-items: center;
  text-align: center;
  margin-top: -30px;
}
.text_cnt {
  transform: translateY(-62px);
}

.login_right_inputonea {
  width: 480px;
  height: 49px;
  background: #f6f6f6;
  border-radius: 4px;
}
.fio_inputs {
  width: 480px;
  height: 49px;
  background: #f6f6f6;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 5px 97px 15px 117px;
}
.email_reg {
  width: 480px;
  height: 49px;
  background: #f6f6f6;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 5px 0px 15px 117px;
}
.number_inputss {
  width: 480px;
  height: 49px;
  background: #f6f6f6;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 5px 97px 15px 117px;
}
.input_passwordd {
  width: 480px;
  height: 49px;
  background: #f6f6f6;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 5px 97px 15px 117px;
}

.login_right_formik {
  transform: translateY(-66px);
}
.login_right_logoss {
  width: 109px;
  height: 51px;
  margin: 10px 293px 30px 292px;
}
.p_textreg {
  width: 420px;
  height: 34px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
.loshara {
  width: 420px;
  height: 34px;
  font-family: "Gilroy";
  font-size: 14px;
  text-align: center;
  color: #000000;
  margin: 14px 0px 3px 139px;
}
