@import "../Layout/Header/Header.scss";
@import "../pages/Profile/Profile.scss";
@import "../pages/Home/Home.scss";
@import "../Layout/Footer/Footer.scss";
@import "../pages/Catalog/Coffee/Coffee-Items/Coffee-Items.scss";
@import "../pages/Catalog/Coffee/Coffee-Filters/Coffee-Filters.scss";

@import "../pages/Blog/Blog.scss";
*{

@import "../Components/News/News.scss";


* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: 'Gilroy';
}
.container {
  max-width: 1556px;
  padding: 0 30px;
  margin: 0 auto;
}
a:active,
button:active {
  cursor: default;
}
a {
  list-style: none;
  color: black;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
  letter-spacing: 0.5px;
}
ul,
li,
a {
  list-style: none;
  color: black;
  text-decoration: none;
}
html,
body {
  // Байгелди: У меня не работает 'Gilroy'
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: 100%;
}
.wrapper {
  min-height: 100%;
  // font-family: Gilroy ;
}
