@media (min-width: 767px) {
  .footer {
    display: flex;
  }
}
@media (min-width: 767px) {
  .footer__image {
    flex: 0 0 50%;
  }
}
.footer {
  &__subscription {
    position: absolute;
    z-index: 6;
    &-left {
      margin-top: 80px;
      &-subTitle {
        margin: 40px 0 39px;
        max-width: 500px;
        height: 45px;
        font-weight: 500;
        font-size: 18px;
        @media (max-width: 542px){
          max-width: 442px;
        }
        @media (max-width: 470px) {
          max-width: 342px;
          margin: 0;
          margin-top: 50px;
        }
        @media (max-width: 442px) {
          width: 302px;
        }
      }
      &-title {
        font-weight: 900;
        font-size: 35px;
        max-width: 560px;
        @media (max-width: 542px) {
          width: 442px;
        }
        @media (max-width: 470px){
          width: 342px;
        }
        @media (max-width: 981px){
          color: #FD6F3B;
        }
        height: 43px;
        line-height: 44px;
      }
    }
  }
  .subForm > p > a {
    color: #f9b300;
  }
  .subForm > p {
    margin-top: 15px;
    max-width: 526px;
    height: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
  }
  &-input {
    padding: 17px 500px 16px 40px;
    background: #f3f3f3;
    border-radius: 28px;
    @media (max-width: 800px) {
      padding: 17px 200px 16px 40px;
      border-radius: 14px;
      margin-top: 40px;
    }
    @media (max-width: 470px) {
      padding: 17px 100px 16px 40px;
      border-radius: 14px;
    }
    border: none;
    position: absolute;
  }
  &-button {
    margin-left: 550px;
    position: relative;
    cursor: pointer;
    padding: 17px 33px 16px 40px;
    border-radius: 28.3403px;
    background: #f9b300;
    color: white;
    border: none;
    @media (max-width: 800px) {
      margin-top: 40px;
      margin-left: 300px;
    }
    @media (max-width: 500px) {
      margin-left: 270px;
    }
    @media (max-width: 470px) {
      margin-left: 170px;
    }
  }
  @media (min-width: 1700px) {
    background-size: cover;
    .footer-back {
      background-size: cover;
    }
  }
  background-image: url("../../assets/Footer/footer-background.svg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: auto;
  overflow: hidden;
  height: 450px;
  &-back {
    background-size: auto;
    min-width: 100%;
    max-height: 300px;
    background-image: url("../../assets/Footer/footer-back.svg");
    background-repeat: no-repeat;
    background-position-y: -13px;
    &-top {
      height: 50px;
      background-color: #f5f5f5;
    }
  }
  &__content {
    justify-content: space-between;
    flex: 0 0 100%;
  }
  &__image {
    margin-left: auto;
    &-bottom {
      transform: translate(-100%, -13%);
      position: absolute;
    }
    &-top {
      position: absolute;
      max-width: 466px;
      max-height: 322px;
      transform: translate(-100%, -10%);
    }
  }
  &__image > img {
    max-width: 100%;
  }
  &__body {
    width: 50%;
  }
  &__container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-right > ul {
    width: 401px;
    @media (max-width: 544px) {
      width: 301px;
    }
    @media (max-width: 508px) {
      width: 231px;
    }
    @media (max-width: 497px) {
      width: 160px;
      & li {
        border-right: 1px solid black;
      }
    }
    justify-content: space-between;
    display: flex;
  }
}
