.Rewievs{
    height: 1250px;
    @media (max-width: 375px) {
        width: 1075px;
    }
    &__row{
        padding-left: 15px;
    }
    &__inner__title{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 35px;
        padding-bottom: 50px;
    }
    &__block{
        width: 1180px;
        height: 332px;
        box-shadow: 0 0 10px black;
        border-radius: 12px;
        margin-top: 40px;
        @media (max-width: 375px) {
            width: 340px;
            height: 253px;
        }
        &__inner{
            padding: 15px 0 0 55px;
            @media (max-width: 375px) {
                padding: 15px 0 0 25px;
            }
            &__above{
                padding-bottom: 170px;
                transform: translateY(50px);
                @media (max-width: 375px) {
                    padding-bottom: 45px;
                    transform: translateY(17px);
                }
            }
            &__above > h1{
                font-size: 18px;
                padding-bottom: 10px;
            }
            &__above > img{
                padding-bottom: 10px;
            }
            &__above > p{
                width: 782px;
                @media (max-width: 375px) {
                    width: 300px;
                }
            }
            &__above > hr{
                transform: translate(-55px, 85px);
                width: 1180px;
                @media (max-width: 375px) {
                    transform: translate(-26px, 5px);
                    width: 342px;
                }
            }
            &__bellow{
                transform: translateY(-20px);
                &__inner{
                    display: flex;
                    align-items: center;
                    gap: 25px;
                }
            }

        }
    }
}